{% block subject %}
    Your booking has been validated!
{% endblock %}

{% block body_html %}
    <p>Hello {{ booking.getClient().getUsername() }},</p>
    
    <p>Your booking for {{ booking.getVenue().getName() }} on {{ booking.date|date('F d, Y') }} has been successfully validated.</p>
    
    <p>Booking Details:</p>
    
    <ul>
        <li><strong>Venue:</strong> {{ booking.getVenue().getName() }}</li>
        <li><strong>Date:</strong> {{ booking.date|date('F d, Y') }}</li>
        <li><strong>Price:</strong> {{ booking.getVenue().getPrice() }} EUR</li>
    </ul>
    
    <p>Thank you for choosing our services. We look forward to welcoming you!</p>
    
    <p>Regards,</p>
    <p>The BeSpectacled Team</p>
{% endblock %}
